.popup-chat {
  .icon-open-message {
    position: fixed;
    right: 5rem;
    bottom: 4rem;
    z-index: 9999;
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(24, 144, 255, 0.4);
    cursor: pointer;
  }
  // chat-box
  .chat-box {
    position: fixed;
    border-radius: 5px;
    right: 5rem;
    bottom: 0;
    z-index: 9999;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 320px;
    width: 700px;
    height: 400px;
    min-height: 400px;
    max-height: 405px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    &__close {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    &__header {
      height: 48px;
      padding: 8px;
      background-color: #fff;
      border-bottom: 1px solid #e5e5e5;
      border-radius: 5px;
    }
    &__title {
      margin-left: 10px;
    }
    &__main {
      display: flex;
      justify-content: space-between;
      flex: 1;
    }
    &__receiver {
      flex-grow: 1;
      height: calc(400px - 48px);
      &__name {
        font-size: 1.4rem;
        font-weight: bold;
        padding: 1rem 0;
        height: 49px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        padding: 0 1rem;
      }
    }
    &__listHomestay {
      width: 240px;
      padding: 0 1rem;

      .ul-list-item-homestay {
        height: calc(300px);
        // max-height: calc(600px - 48px * 2);
        overflow: scroll;
        &__title {
          font-size: 1.4rem;
          font-weight: bold;
          padding: 1rem 0;
          height: 48px;
          display: flex;
          align-items: center;
        }
        li {
          cursor: pointer;
          padding: 5px 0;
          border-top: 1px solid #e5e5e5;
        }
      }
    }
    &__content {
      overflow-y: auto;
      overflow-x: hidden;
      padding-left: 8px;
      padding-right: 8px;
      background-color: #fff;
      flex-grow: 1;
      display: flex;
      flex-direction: column-reverse;
      height: calc(400px - 48px * 3 - 8px);
      padding: 1rem;

      &__item {
        display: flex;
        align-items: center;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 4px;
      }
      &__message {
        margin-left: 10px;
        font-size: 14px;
        color: #000;
      }
    }
    &__input-wrap {
      border-top: 1px solid #e5e5e5;
      display: flex;
      align-items: center;
      padding: 12px;
      height: 52px;
    }
    &__btn-send {
      margin-left: 5px;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid #e5e5e5;
      cursor: pointer;
    }
  }
}
