.reviews-page {
  padding: 8rem 4rem;
}
.form-review {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.btn-review {
  display: flex;
  align-items: center;
  span {
    margin-left: 0.5rem;
  }
}
