.review-detail-page {
  padding: 6rem 3rem;
}
.review-detail {
  display: flex;
  align-items: center;
}

.review-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &-main {
    flex-grow: 1;
    padding-right: 2rem;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__name {
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: 500;
  }
  &__location {
    font-size: 1.4rem;
    color: #888888;
  }

  &__content {
    margin-top: 2rem;
    padding-left: 1rem;
  }
  &__action {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }
}
