.review-detail-page {
  padding: 7rem 3rem;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
}
.review-detail {
  // display: flex;
  // align-items: center;
  max-width: 995px;
  margin: 0 auto;
}

.review-box {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  padding: 12px;
  border-radius: 10px;
  background-color: #fff;
  &-main {
    flex-grow: 1;
    padding-right: 2rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d9d9d9;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__name {
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: 500;
  }
  &__location {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #888888;
  }

  &__content {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  &__list-schedule {
    padding-left: 2rem;
  }
  &__action {
    display: flex;
    align-items: center;
    margin-top: auto;
    cursor: pointer;
  }
}
